<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/skin cancer.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin cancer app</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/main.js"></script>
</head>

<body>
    <div class="container">
    <div>
        <img src="/static/images/skin cancer.png">
    </div>
    <br>
    <div>
        <button onclick="location.href='detect';"> Start detect</button>
    </div>
    </div>

</body>

</html>